* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.box {
  background-color: white;
  padding-top: 30px;
  padding: 30px;

}

.box h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: #d67d00;
  font-family: sans-serif;
}


input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 6px;
  border: none;
  border: 2px solid #d67d00;
  outline: none;
  font-size: 22px;
}

input::placeholder {
  font-size: 23px;
}

#button_gen {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  border: 2px solid #d67d00;
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: #d67d00;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.btn2 {
  margin-left: 20px
}

.btn3 {
  margin-left: 60px
}

#button {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  border: 2px solid #d67d00;
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #d67d00;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

#button:hover {
  color: white;
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1%;
  color: #bbbbbb;
  font-family: sans-serif;
}

.footer a:link {
  color: #eeeeee;
  text-decoration: none;
}

.footer a:visited {
  color: #dddddd;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
